global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    maxconn 4096
    tune.bufsize 38400
    stats socket /var/lib/haproxy/stats level admin mode 600

defaults
    log global
    option dontlognull
    option redispatch
    retries 3
    timeout client 50s
    timeout connect 10s
    timeout server 50s
    maxconn 4096

{% if haproxy_stats_enabled | bool %}
listen stats
    bind {{ haproxy_stats_bind_addr }}:{{ haproxy_stats_bind_port }}
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /haproxy?stats
    stats show-node
    stats show-legends
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_pass }}
    stats admin if TRUE
    stats refresh 60s
{% endif %}


{% for srv in haproxy_config_services %}
{% set srvcfg = haproxy_service_default|combine(srv) %}
{% if srvcfg.srv_frontend_binds %}
listen {{ srvcfg.srv_name }}
{% for bind in srvcfg.srv_frontend_binds %}
    bind {{ bind }}:{{ srvcfg.srv_port }}
{% endfor %}
{% if srvcfg.srv_mode %}
    mode {{ srvcfg.srv_mode }}
{% endif %}
{% if srvcfg.srv_balance %}
    balance {{ srvcfg.srv_balance }}
{% endif %}
{% if srvcfg.srv_options %}
{% for opt in srvcfg.srv_options %}
    {{ opt }}
{% endfor %}
{% endif %}
{% if srvcfg.srv_backend_role %}
{% for host in groups[srvcfg.srv_backend_role] %}
    server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host][srvcfg.srv_backend_ip_fact_name]['address'] }}:{{ srvcfg.srv_port }} {{ srvcfg.srv_server_option }}
{% endfor %}
{% endif %}
{% endif %}

{% endfor %}



    
