[DEFAULT]
log_file = /var/log/trove/trove.log
debug = {{ osdm_log_debug }}
rpc_backend = rabbit
auth_strategy = keystone
bind_host = 0.0.0.0
bind_port = 8779

trove_auth_url = http://{{ osdm_os_keystone_mgmt_ip }}:5000/v3

nova_compute_url = http://{{ osdm_os_nova_mgmt_ip }}:8774/v2

cinder_url = http://{{ osdm_os_cinder_mgmt_ip }}:8776/v1

# swift_url = http://{{ osdm_os_swift_mgmt_ip }}:8080/v1/AUTH_

neutron_url = http://{{ osdm_os_neutron_mgmt_ip }}:9696/


transport_url = rabbit://{{ osdm_mq_os_user }}:{{ osdm_mq_os_pass }}@{{ osdm_mq_mgmt_ip }}:5672/

use_nova_server_config_drive = True

nova_proxy_admin_user = admin
nova_proxy_admin_pass = {{ osdm_user_admin_pass }}
nova_proxy_admin_tenant_name = service

# Set these if using Neutron Networking
network_driver=trove.network.neutron.NeutronDriver
network_label_regex=.*

[oslo_messaging_notifications]
driver = messagingv2

[oslo_messaging_rabbit]
rabbit_host = {{ osdm_mq_mgmt_ip }}
rabbit_userid = {{ osdm_mq_os_user }}
rabbit_password = {{ osdm_mq_os_pass}}
rabbit_retry_interval = 1
rabbit_retry_backoff = 2
rabbit_max_retries = 0
rabbit_ha_queues = true
rabbit_durable_queues = true
