<VirtualHost 0.0.0.0:80>
    ProxyPreserveHost On
    ServerName {{ ansible_default_ipv4.address }}
    ServerAlias localhost {{ ansible_default_ipv4.address }}
    ProxyPass / http://127.0.0.1:3000/
    ProxyPassReverse / http://127.0.0.1:3000/
</VirtualHost>
