<VirtualHost 0.0.0.0:80>
    ErrorLog /var/log/httpd/rgw_error.log
    CustomLog /var/log/httpd/rgw_access.log combined

    ProxyPreserveHost On
    ServerName {{ ansible_default_ipv4.address }}
    ServerAlias localhost {{ ansible_default_ipv4.address }} {{ osdm_radosgw_access_ext_vip }} {{ osdm_radosgw_access_mgmt_vip }}
    ProxyPass / http://127.0.0.1:7480/
    ProxyPassReverse / http://127.0.0.1:7480/
</VirtualHost>
