LoadPlugin interface

<Plugin interface>
  Interface "em1"
  Interface "em2"
  Interface "em3"
  Interface "em4"
  Interface "eth0"
  Interface "eth1"
  Interface "eth2"
  Interface "eth3"
  IgnoreSelected false
</Plugin>
