[Unit]
Description=Bosun Service
After=network.target
After=rsyslog.service

[Service]
Type=simple
User=root
ExecStart={{ bosun_bin_dir }}/bosun -c {{ bosun_conf_dir }}/prod.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
