LoadPlugin virt
<Plugin virt>
  Connection "qemu+tcp:///system"
  RefreshInterval 60
# Domain "name"
# BlockDevice "name:device"
# InterfaceDevice "name:device"
# IgnoreSelected false
  HostnameFormat uuid
</Plugin>
