function desourcerc() {
  unset OS_REGION_NAME

  unset OS_PROJECT_DOMAIN_ID
  unset OS_PROJECT_DOMAIN_NAME
  unset OS_PROJECT_NAME

  unset OS_USER_DOMAIN_ID
  unset OS_USER_DOMAIN_NAME
  unset OS_USERNAME

  unset OS_PASSWORD

  unset OS_IDENTITY_API_VERSION
  unset OS_AUTH_URL

  unset OS_TOKEN
  unset OS_URL
  export PS1='[\u@\h \w]# '
}

desourcerc

export OS_URL="http://{{ osdm_os_keystone_mgmt_ip }}:35357/v3"
export OS_TOKEN={{ osdm_admin_token }}
export OS_IDENTITY_API_VERSION=3
export PS1='[\u@\h \w(keystone_init)]\$ '
